#{extends 'main.html' /} #{set title:'Home' /}

<h3>プロジェクト一覧</h3>

#{if projectList}

<div>
        <a href="@{ProjectController.projectCreate()}">
        <input type="Button" name="NewProject" id="NewProject" value="新規登録"}" />
           </a>
</div>


<table border=1>
	<tr>
		<th width=30></th>
		<th>案件名</th>
		<th>完了フラグ</th>
	</tr>
	#{list items:projectList, as:'project'}
	<tr>
		<th></th>
		<th>
		 <a href="@{TodoController.todoList(project.id)}">
		${project.projectName.value()}</a></th>
		<th>#{if project.endFlag} 完了 #{/if} #{if !project.endFlag} 未完了
			#{/if}</th>

		<th>
		<a href="@{ProjectController.updateProject(project.id)}">
		<input type="Button" name="UpdateProject" id="UpdateProject" value="編集"}" /></a>
		</th>

	</tr>
	#{/list}

</table>



#{/if} #{else}
<h2>データがありません</h2>
#{/else}





