#{extends 'main.html' /} #{set title:'Home' /}

<h3><b>プロジェクト一覧</b></h3>

  <div>
    <a href="@{ProjectController.create()}">
      <button class=" btn btn-primary" name="ProjectCreate" id="ProjectCreate">
        <span class="glyphicon glyphicon-pencil"></span>
        &nbsp;新規登録
      </button>
    </a>
  </div>

#{if projectList}

  <table class="table">
    <tr>
      <th><span class="glyphicon glyphicon-tag"></span>案件名</th>
      <th><span class="glyphicon glyphicon-flag"></span>完了フラグ</th>
      <th><span class="glyphicon glyphicon-th"></span>ボタン</th>
    </tr>
    #{list items:projectList, as:'project'}
    <!-- projectListをcollectionにする。collection.list -->
    <tr>
      <th>
        <a href="@{TodoController.todoList(project.id)}">
          ${project.projectName.value()}
        </a>
      </th>
      <th>
        #{if project.endFlag}
          完了
        #{/if}
        #{else}
          未完了
        #{/else}
      </th>
      <th>
        <a href="@{ProjectController.update(project.id)}">
          <button class=" btn btn-info" name="ProjectUpdate" id="ProjectUpdate">
            <span class="glyphicon glyphicon-retweet"></span>
            &nbsp;編集
          </button>
        </a>
        <a href="@{ProjectController.delete(project.id)}">
          <button class=" btn btn-info" name="ProjectDelete" id="ProjectDelete" onclick="Delete();">
            <span class="glyphicon glyphicon-trash"></span>
            &nbsp;削除
          </button>
        </a>
      </th>
    </tr>
    #{/list}
  </table>

#{/if}
#{else}
  <h2 class="text-danger"><b>データがありません</b></h2>
#{/else}
















