#{extends 'main.html' /} #{set title:'Home' /}

<h3>プロジェクト一覧</h3>

  <div>
    <a href="@{ProjectController.create()}"> <input
        type="Button" name="ProjectCreate" id="ProjectCreate" value="新規登録"  />
    </a>
  </div>
#{if flash.error}
  <div class=“alert alert-danger hidden”><h4 style=“margin-bottom: 0px;“>${flash.error}</h4></div>
#{/if}
#{if flash.success}
  <div class=“alert alert-danger hidden”><h4 style=“margin-bottom: 0px;“>${flash.success}</h4></div>
#{/if}

#{if projectList}



  <table border=1>
    <tr>
      <th width=30></th>
      <th>案件名</th>
      <th>完了フラグ</th>
    </tr>
    #{list items:projectList, as:'project'}
    <tr>
      <th></th>
      <th>
        <a href="@{TodoController.todoList(project.id)}">
          ${project.projectName.value()}
        </a>
      </th>
      <th>
        #{if project.endFlag}
          完了
        #{/if}
        #{else}
          未完了
        #{/else}
      </th>

      <th>
        <a href="@{ProjectController.update(project.id)}">
          <input type="Button" name="ProjectUpdate" id="ProjectUpdate" value="編集"  />
        </a>
      </th>

      <th>
        <a href="@{ProjectController.delete(project.id)}">
          <input type="Button" name="ProjectDelete" id="ProjectDelete" value="削除" onclick="Delete();" />
        </a>
      </th>

    </tr>
    #{/list}
  </table>

#{/if}
#{else}
  <h2>データがありません</h2>
#{/else}
















