#{extends 'main.html' /} #{set title:'Home' /}

<h3>プロジェクト編集</h3>

  <form action = "@{ProjectController.updateExec()}"  method= "POST">
    <input type="hidden" name="projectId" id="projectId" value="${project.id}"/>
    <label for="projectName">案件名: </label>
      <input type="text" name="projectName" id="projectName" value="${project.projectName.value()}" required/>
      <div>
        <label for="endFlag">完了フラグ: </label>
        <div>
          <label for="endFlag">完了: </label>
          <input type="radio" name="endFlag" id="endFlag" value="${project.endFlag=true}" />
          <label for="endFlag">未完了: </label>
          <input type="radio" name="endFlag" id="endFlag" value="${project.endFlag=false}"  checked/>
        </div>
      </div>
    <div>
      <input type="submit" name="ProjectUpdate" id="ProjectUpdate" value="登録する"}" />
      <input type="reset" name="ProjectUpdetereset" id="ProjectUpdatereset" value="取り消し"}" />
    </div>
    <div>
      <a href="@{ProjectController.projectList()}">
      <input type="Button" name="projectList" id="projectList" value="戻る"  />
      </a>
    </div>
  </form>


