#{extends 'main.html' /} #{set title:'Home' /}

<h3>タスク新規登録</h3>


  <form action = "@{TodoController.createExec(projectId)}"  method= "POST">
    <label for="TodoName">タスク名: </label>
    <input type="text" name="todoName" id="todoName"  placeholder="タスク名を入れてください" required/>
    <div>
      <label for="TodoContent">タスク内容: </label>
      <textarea rows=2 cols=30 name="todoContent" id="todoContent"  placeholder="タスク内容を入れてください" required/>
      </textarea>
    </div>
    <div>
      <input type="submit" name="TodoCreate" id="TodoCreate" value="登録する"}" />
      <input type="reset" name="Todoreset" id="Todoreset" value="取り消し"}" />
    </div>
    <div>
      <a href="@{TodoController.todoList(projectId)}">
        <input type="Button" name="todoList" id="todoList" value="戻る"  />
      </a>
    </div>
  </form>
