#{extends 'main.html' /} #{set title:'Home' /}

<h3>タスク一覧</h3>

${todoList.project}

<div>
        <a href="@{TodoController.TodoCreate(todoList.project)}">
        <input type="Button" name="NewTodo" id="NewTodo" value="新規登録"}" />
           </a>
</div>

${todoList.id}
#{if todoList}

<table border=1>
	<tr>
		<th width=30></th>
		<th>タスク名</th>
		<th>完了フラグ</th>
		<th>内容</th>
	</tr>
	#{list todoList, as:'todo'}
	<tr>
		<th></th>
		<th>
				${todo.todoName.value()}</th>
		<th>#{if todo.endFlag} 完了 #{/if} #{if !todo.endFlag} 未完了
			#{/if}</th>
		<th>
		${todo.todoContent.value()}</th>

		<th>
        <a href="@{TodoController.Todoupdate(todoList.id)}">
        <input type="Button" name="UpdateTodo" id="UpdateTodo" value="編集"}" /></a>
        </th>

	</tr>
	#{/list}

</table>
#{/if} #{else}
<h2>データがありません</h2>
#{/else}
