#{extends 'main.html' /} #{set title:'Home' /}

<h3><b>タスク一覧</b></h3>

  <div>
    <a href="@{TodoController.create(projectId)}">
      <button class=" btn btn-primary" name="TodoCreate" id="TodoCreate">
        <span class="glyphicon glyphicon-pencil"></span>
        &nbsp;新規登録
      </button>
    </a>
  </div>


#{if todoList}

  <table class="table">
    <tr>
	  <th><span class="glyphicon glyphicon-tag"></span>タスク名</th>
	  <th><span class="glyphicon glyphicon-flag"></span>完了フラグ</th>
	  <th><span class="glyphicon glyphicon-comment"></span>内容</th>
	  <th><span class="glyphicon glyphicon-th"></span>ボタン</th>
	</tr>
	#{list todoList, as:'todo'}
	<tr>
	  <th>${todo.todoName.value()}</th>
	  <th>#{if todo.endFlag} 完了 #{/if} #{else} 未完了 #{/else}</th>
	  <th>${todo.todoContent.value()}</th>

	  <th>
	    <a href="@{TodoController.update(todo.id)}">
	      <button class=" btn btn-info" name="TodoUpdate" id="TodoUpdate">
            <span class="glyphicon glyphicon-retweet"></span>
            &nbsp;編集
          </button>
	    </a>
        <a href="@{TodoController.delete(todo.id)}">
          <button class=" btn btn-info" name="TodoDelete" id="TodoDelete" onclick="Delete();">
            <span class="glyphicon glyphicon-trash"></span>
            &nbsp;削除
          </button>
        </a>
      </th>
	</tr>
	#{/list}
  </table>


#{/if} #{else}
  <h2 class="text-danger"><b>データがありません</b></h2>
#{/else}
  <a href="@{ProjectController.projectList()}">
    <button type="Button" class ="btn btn-success" name="projectList" id="projectList">
      <span class ="glyphicon glyphicon-arrow-left"></span>
      &nbsp;プロジェクト一覧に戻る
    </button>
  </a>