#{extends 'main.html' /} #{set title:'Home' /}

<h3><b>タスク編集</b></h3>

  <form action = "@{TodoController.updateExec(todo.id)}"  method= "POST">
    &emsp;<span class ="glyphicon glyphicon-tag"></span>
    <label for="TodoName">タスク名: </label>
    <br>
    &emsp;<input type="text" name="todoName" id="todoName" value="${todo.todoName.value()}" placeholder="タスク名を入れてください" required/>
    <div>
      &emsp;<span class ="glyphicon glyphicon-th"></span>
      <label for="TodoContent">タスク内容: </label>
      <br>
      &emsp;<textarea rows=2 cols=30 name="todoContent" id="todoContent"  value="${todo.todoContent.value()}" placeholder="タスク内容を入れてください" required/>
      </textarea>
    </div>
    <br>
    &emsp;<span class="glyphicon glyphicon-flag"></span>
    <label for="endFlag">完了フラグ: </label>
    <div>
      &emsp;<label for="endFlag">完了: </label>
      <input type="radio" name="endFlag" id="endFlag" value="true" #{if todo.endFlag} checked #{/if}/>
      <label for="endFlag">未完了: </label>
      <input type="radio" name="endFlag" id="endFlag" value="false" #{if !todo.endFlag} checked #{/if}/>
    </div>
    <div>
      &emsp;<button type = "submit" class = "btn btn-primary" name="TodoUpdate" id="TodoUpdate" >
        <span class ="glyphicon glyphicon-pencil"></span>
        &nbsp;登録する
      </button>
      <button type ="reset" class = "btn btn-primary" name="TodoUpdatereset" id="TodoUpdatereset">
        <span class ="glyphicon glyphicon-remove"></span>
        &nbsp;取り消し
      </button>
    </div>
    <a href="@{TodoController.todoList(projectId)}">
      &emsp;<button type="Button" class ="btn btn-success" name="todoList" id="todoList">
        <span class ="glyphicon glyphicon-arrow-left"></span>
        &nbsp;タスク一覧に戻る
      </button>
    </a>
  </form>
