#{extends 'main.html' /} #{set title:'Home' /}

<h3>タスク編集</h3>

  <form action = "@{TodoController.updateExec(todo.id)}"  method= "POST">

    <label for="TodoName">タスク名: </label>
    <input type="text" name="todoName" id="todoName" value="${todo.todoName.value()}" placeholder="タスク名を入れてください" required/>
    <div>
      <label for="TodoContent">タスク内容: </label>
      <textarea rows=2 cols=30 name="todoContent" id="todoContent"  value="${todo.todoContent.value()}" placeholder="タスク内容を入れてください" required/>
      </textarea>
    </div>
    <div>
      <label for="endFlag">完了フラグ: </label>
        <div>
          <label for="endFlag">完了: </label>
          <input type="radio" name="endFlag" id="endFlag" value="${todo.endFlag=true}" />
          <label for="endFlag">未完了: </label>
          <input type="radio" name="endFlag" id="endFlag" value="${todo.endFlag=false}"  checked/>
        </div>
    </div>

    <div>
      <input type="submit" name="TodoUpdate" id="TodoUpdate" value="登録する"}" />
      <input type="reset" name="TodoUpdatereset" id="TodoUpdatereset" value="取り消し"}" />
    </div>
    <a href="@{TodoController.todoList(projectId)}">
      <input type="Button" name="todoList" id="todoList" value="戻る"  />
    </a>
  </form>
